---
// src/components/Button.astro
export interface Props {
    label: string;
    for: string;
    class?: string;
}

const { label, for: forId, class: className } = Astro.props;
---

<label for={forId} class:list={["button", className]}>{label}</label>

<style>
    .button {
        display: inline-block;
        padding: 1rem 2rem;
        border: 2px solid var(--accent-color);
        border-radius: 8px;
        background-color: var(--primary-color);
        color: var(--accent-color);
        font-family: 'Space Grotesk', sans-serif;
        font-size: 1.2rem;
        font-weight: 500;
        text-align: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .button:hover {
        background-color: var(--accent-color);
        color: var(--primary-color);
    }
</style>
