---
---
<footer class="sub">
    <hr><br>
    <p class="centerText"><a href="https://github.com/hamb1y/dynatemp">DynaTemp © [year]</a></p>
    <p class="centerText">Site fully designed, made & written by <a href="https://rishimalnad.dev">Rishi S. Malnad</a> <br>(<a href="https://github.com/hamb1y">hamb1y on GitHub</a>)</p>
</footer>
