---
import Header from "./Header.astro";
import Footer from "./Footer.astro";

const { title } = Astro.props;
const pageTitle = title ? `${title} | JNVCKM Alumni Association` : "JNVCKM Alumni Association";
---

<html>
    <head>
        <link rel="stylesheet" href="/main.css">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎵</text></svg>">
        <meta charset="Unicode">
        <link rel="icon" href="/favicon.png" type="image/png">
        <title>{pageTitle}</title>
        
    </head>
    <body>
        <Header />
        <div class="mainContent">
            <slot />
        </div>
        <Footer />
    </body>
</html>